<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="title"><h1>Applications Manager</h1></div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col">
        <div class="subtitle">
          <h2>Pagina di conferma dell'email personale</h2>
        </div>
      </div>
    </div>
    <div class="row r-p">
      <div class="col">
        <p class="p-content">Ciao &nbsp; <i>{{username}}</i>,</p>
        <p>Per rimanere aggiornato sulle canditature e per ricevere qualsiasi comunicazione dal nostro sito, per favore conferma la tua mail &nbsp;<i> {{email}} </i>&nbsp;&nbsp;cliccando il pulsante qui sotto:</p>
      </div>
    </div>
    <div class="row">
      <div class="col c-btn">
        <button type="button" class="btn" (click)="confirm()">Conferma email</button>
      </div>
    </div>
  </div>

</div>
