<div class="container-fluid">
  <div class="div-icon">
    <svg *ngIf="status === 'warning'" cIcon name="cilWarning" size="sm" class="icon w"></svg>
    <svg *ngIf="status === 'sent'" cIcon name="cilCheckCircle" size="sm" class="icon s"></svg>
    <svg *ngIf="status === 'refused'" cIcon name="cilXCircle" size="sm" class="icon r"></svg>
  </div>
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
          <h3>Stato: {{status}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{deadline}} {{data |  date:'dd/MM/yyyy' }}</p>
    </div>
  </div>
</div>
