<div class="container-fluid">
  <div class="container">
    <div class="div-icon">
      <svg *ngIf="type==='university'" cIcon name="cilEducation" size="sm" class="icon"></svg>
      <svg *ngIf="type==='student'" cIcon name="cilUser" size="sm" class="icon"></svg>
      <svg *ngIf="type==='industry'" cIcon name="cilIndustry" size="sm" class="icon"></svg>
    </div>
    <div class="row">
      <div class="col">
        <h2>Accedi nell'area personale</h2>
      </div>
    </div>
    <div class="row">
     <div class="col">
       <mat-form-field appearance="outline">
         <mat-label>Nome utente</mat-label>
         <input class="input" matInput placeholder="Nome utente">
         <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
         <mat-error>{{userError}}</mat-error>
       </mat-form-field>
     </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>{{pswError}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row r-enter">
        <div *ngIf="valid" class="div-enter"  (click)="login()">
          <svg  cIcon name="cilChevronCircleRightAlt" size="sm" class="icon icon-enter" ></svg>
        </div>

    </div>
  </div>
  <div class="div-undo" (click)="backToHome()">
    <svg  cIcon name="cilActionUndo" size="sm" class="icon icon-undo" ></svg>
  </div>
</div>
