.navbar-brand{
    font-size: 3vh;
}
.nav-link{
  font-size: 2vh;
}

.username{
  background-color: grey;
  border-radius: 0.5vh;
  width: 20vh;
  justify-content: center;
  display: flex;
  align-self: center;
  justify-self: end;

}
