<div class="container-fluid body">
  <div class="row div-central">
    <div class="col menu col-2" >
      <div class="row r-menu">
        <div class="div-icon" (click)="goTo('addApplication')">
          <svg cIcon name="cilPlaylistAdd" size="sm" class="icon" id="addApplication"></svg>
        </div>
      </div>
      <div class="row r-menu">
        <div class="div-icon">
          <svg cIcon name="cil-storage" size="sm" class="icon" id="storageIcon"></svg>
        </div>
      </div>
      <div class="row r-menu">
        <div class="div-icon" (click)="goTo('profile')">
          <svg cIcon name="cilUser" size="sm" class="icon" id="personalIcon"></svg>
        </div>
      </div>
      <div class="row r-menu">
        <div class="div-icon" (click)="goTo('addAdmin')">
          <svg cIcon name="cilUserPlus" size="sm" class="icon" id="addAdminIcon"></svg>
        </div>
      </div>
      <div class="row r-menu r-logout">
        <div class="div-icon" (click)="openDialog('0ms', '0ms')">
          <svg cIcon name="cilAccountLogout" size="sm" class="icon" id="logout"></svg>
        </div>
      </div>
    </div>
    <div class="col content">
      <app-header [title]="title" [username]="admin"></app-header>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

