
mat-card{
  max-width: 80vh;
  background-color: #be0815;
  margin-top: 10vh;
}

h2{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  padding: 2vh;
}

h3{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}
hr{
  margin-top: 0;
}

p{
  font-size: 2vh;
  padding: 1vh;
}
