<!--app-application-card></app-application-card-->
<div class="div-body">
  <div class="main">
    <div class="title"><h2>Applications Manager</h2></div>
    <div class="content">
      <p class="subject">Recupero credenziali</p>
      <p>Ciao Utente,</p>
      <p>Ecco le tue credenziali per accedere al nostro sito:</p>
      <div class="credenziali">
        Username: <p class="p-credenziali">user</p>
        Password: <p class="p-credenziali">psw</p>
      </div>
      <p>Tienile memorizzate e al sicuro</p>
      <p>Per qualsiasi problema, non esistare a contattarci</p>
    </div>
    <div class="Footer">
      <p class="p-footer">Stai ricevendo questa mail perchè hai acconsentito alla ricezione di mail informative da parte di Applications Manager.
        Rispettiamo la tua privacy e non condivideremo mai i tuoi dati con terze parti senza il tuo consenso.</p>
      <p class="p-footer">&#64;ApplicationsManager all rights reserved</p>
    </div>
  </div>

</div>
