<!--app-application-card></app-application-card-->
<div class="div-body">
  <div class="main">
    <div class="title"><h2>Applications Manager</h2></div>
    <div class="content">
      <p class="subject">Conferma dell'indirizzo email</p>
      <p>Ciao Utente,</p>
      <p>per favore clicca sul link sottostante per verificare la tua mail e ricevere aggiornamenti dal nostro sito:</p>
      <div class="credenziali">
        <a href="http://localhost:4200/student/confirm/mail"><p class="p-credenziali">http://localhost:4200/student/confirm/mail</p></a>
      </div>
      <p>Cliccando sul link acconsetirai al trattamento dei dati personali, con il solo scopo di utilizzo interno.</p>
      <p>Per qualsiasi problema, non esistare a contattarci</p>
    </div>
    <div class="Footer">
      <p class="p-footer">Stai ricevendo questa mail perchè hai acconsentito alla ricezione di mail informative da parte di Applications Manager.
        Rispettiamo la tua privacy e non condivideremo mai i tuoi dati con terze parti senza il tuo consenso.</p>
      <p class="p-footer">&#64;ApplicationsManager all rights reserved</p>
    </div>
  </div>

</div>
