
.container-fluid{
  /*border-style: solid;
  border-color: red;
  border-width: medium;*/
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 2vh 5vh 2vh 5vh;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}
.row{
  margin-top: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.r-actions{
  width: 100%;
}
.btn{
  border-style: solid;
  border-color: darkgrey;
  border-width: thin;
  border-radius: 0.5vh;
  padding: 1vh 3vh 1vh 3vh;
  font-size: 2vh;
  transition: 1.1s ease;
}
.btn:hover{
  cursor: pointer;
  background-color: orange;
  transform: scale(1.1);
}
.c-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-size: 2vh;
}
h2 {
  font-size: 3vh;
}
.modify-content{
  border-style: solid;
  border-color: darkgrey;
  border-width: medium;
  border-radius: 0.5vh;
}

.verify{
  transition: font-size 0.6s ease;
}
.verify:hover{
  cursor: pointer;
  font-size: 2.3vh;
}

.icon{
  width: 2vh;
}

.orange{
  color: orange;
}
.green{
  color: green;
}
