<div class="container-fluid">
<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Nome </mat-label>
        <input class="input" [(ngModel)]="nome "  [disabled]="disabled" matInput placeholder="Nome ">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Cognome</mat-label>
        <input class="input" [(ngModel)]="cognome"  [disabled]="disabled" matInput placeholder="Cognome ">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Email </mat-label>
        <input class="input" [(ngModel)]="email "  [disabled]="disabled" matInput placeholder="Email ">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Matricola</mat-label>
        <input class="input" [(ngModel)]="matricola"  [disabled]="disabled" matInput placeholder="Matricola ">
      </mat-form-field>
    </div>
  </div>
</div>
</div>
