<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="div  option" (click)="goToLogin('management')">
          <div class="col-2">
            <svg  cIcon name="cilBarChart" size="sm" class="icon"></svg>
          </div>
          <div class="col-8">
            <h2>Gestionale</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="div  option" (click)="goToLogin('university')">
          <div class="col-2">
            <svg  cIcon name="cilEducation" size="sm" class="icon"></svg>
          </div>
          <div class="col-8">
            <h2>Università</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="div  option"  (click)="goToLogin('student')">
          <div class="col-2">
            <svg cIcon name="cilUser" size="sm" class="icon"></svg>
          </div>
          <div class="col-8">
            <h2>Studente</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="div-addUSer"  (click)="register()">
          <svg cIcon name="cilUserPlus" size="sm" class="icon"></svg>
        </div>
      </div>
    </div>
    <!--div-- class="row ">
      <div class="col ">
        <div class="div  option"  (click)="goToLogin('industry')" >
          <div class="col-2">
            <svg cIcon name="cilIndustry" size="sm" class="icon"></svg>
          </div>
          <div class="col-8">
            <h2>Azienda</h2>
          </div>
        </div>
      </div>
    </div-->
  </div>
</div>


